@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #020208;
  color: #e5e5e5;
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
